[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonpickle = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask = "*"
connexion = "*"

[requires]
python_version = "3.7"
